.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.25rem solid black;
  background-color: var(--dark);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: black;
  }

  &:disabled {
    cursor: auto;
  }
}

.card .card__reveal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transform: rotateY(90deg);
  transition: all 0.3s ease-in-out;
}

.card__flipped .card__reveal {
  transform: rotateY(0deg);
}
